@import url('https://fonts.googleapis.com/css?family=Rye');

h1 {
  font-family: 'Rye', cursive;
  color: rgb(7, 22, 27);
  font-size: xx-large;
}

.App-link {
  color: #e5ff89;
}

body {
  /* background-color: rgb(158, 184, 131); */
  background-image: url(city-img.png);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
align-items: center;
}

button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 0px 50px
}

.card.custom-class {
  background-color: rgb(245, 243, 243);
}