@import url('https://fonts.googleapis.com/css?family=Rye');
/* the code above is importing the custom font for the title */

h1 {
  font-family: 'Rye', cursive;  /* Said custom font that's imported */
  color: rgb(7, 22, 27);
  font-size: xx-large;
}

.App-link {
  color: #e5ff89;
}

body {
  background-image: url(city-img.png);
  background-attachment: fixed;   /* fixed is what's keeping the image from tiling */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
align-items: center;
}

button{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 0px 50px
}

/* this is working as the backgrounds as the card */
/* PERSONAL STRETCH TO DO: add a space betwen the cards?? */
/* PERSONAL STRETCH TO DO: figure out how to set them in rows??? */
.card.custom-class {
  background-color: whitesmoke;
  max-width: 60%;
  margin: auto;
  border: solid;
  border-color: whitesmoke;
}